td  {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #0000ff;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 10px;
    width: 10px;
}
tr{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
#Logo {
    height: 150px;
    width: 579px;
    background-image: url(/images/logo.png);
}
p, h3, h1 {
    font-family: Poppins, Helvetica, sans-serif;
}
#tab{
    border:"solid" #000000 5px;
}
#options{
    border:"solid" #000000 5px;
}
.clicked {
    background-color: #ff0000;
}

.default {
    background-color: #0000ff;
}

.room1{
    background-color: #ffff00;
}
.room2{
    background-color: #00ffff;
}
.room3{
    background-color: #ff00ff;
}
.room4{
    background-color: #00ff00;
}
.room5{
    background-color: #ff0000;
}
.room6{
    background-color: #0000ff;
}
.room7{
    background-color: #ff00cc;
}
.room8{
    background-color: #cc00ff;
}
.room9{
    background-color: #ffcc00;
}
.room10{
    background-color: #ccff00;
}
.outside{
    background-color: #ffffff;
}
.wall{
    background-color: #00ccff;
}
