#Logo {
    height: 150px;
    width: 579px;
    background-image: url(/images/logo.png);
}
p, h3, h1 {
    font-family: Poppins, Helvetica, sans-serif;
}
.btn {
  background: #3ad1ff;
  background-image: -webkit-linear-gradient(top, #3ad1ff, #03a7ff);
  background-image: -moz-linear-gradient(top, #3ad1ff, #03a7ff);
  background-image: -ms-linear-gradient(top, #3ad1ff, #03a7ff);
  background-image: -o-linear-gradient(top, #3ad1ff, #03a7ff);
  background-image: linear-gradient(to bottom, #3ad1ff, #03a7ff);
  color: #ffffff;
}

.btn, #options tr td {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}