td  {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #0000ff;
    padding: 0px;
    border: 0px;
    margin: 0px;
    height: 10px;
    width: 10px;
}
tr{
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.clicked {
    background-color: #ff0000;
}

